.btn {
    width: 30%;
    cursor: pointer;
    color: #4956FF;
    background: #F2FF04;
    border-radius: 2px;
    line-height: 2.5;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}