.MainDBWrap {
    background-color: #333;
}

.MainDB{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-content: space-between;
    background-color: #333;

}
.MainDB .TypesWrap{
    padding: 0;
    width: 75%;
}
.MainDB .TypesWrap .Types{
    padding: 0 4rem;
    text-align: center;
}
.MainDB .TypesWrap .Types .MostTypes{
    padding: 1rem 0;
}
.MainDB .TypesWrap .Types .MostTypes > img{
    width: 100%;
}
.MainDB .TypesWrap .Types .BtnBox{
    display: flex;
    margin: 5% 0;
}

.MainDB .StatisticsWrap{
    width: 25%;
}
@media screen and (max-width: 770px){
    .MainDB .TypesWrap .Types{
        padding: 0 2%;
    }
}
@media screen and (max-width: 576px){
    .MainDB .TypesWrap{
        width: 100%;
    }
    .MainDB .UserLevel{
        width: 100%;
    }
    .MainDB .TypesWrap .Types .BtnBox{
        margin: 1rem 0;
    }
}