.resultView {
    display: flex;
    justify-content: center;
}

.resultShare {
    max-width: 980px;
    width: 80%;
    padding: 1rem 2.5rem;
    background-color: #f3f3f3;
}
.shareBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0;
}

.shareBox img {
    width: 16%;
    object-fit: contain;
}

.shareBox .desc p {
    margin: 0;
}

.shareBox.mail {
    border-top: 1px solid #ccc;
    justify-content: space-between;
}

@media screen and (max-width: 1182px){
    .shareBox.mail {
        justify-content: start !important;
    }
}

.shareBox .form {
    display: flex;
    width: 30%;
}
.shareBox .form input[type="text"]{
    display: inline-block;
    padding: 0 1rem;
    width: 80%;
    height: 2.5rem;
    font-size: 0.9rem;
    line-height: 2.5rem;
    vertical-align: middle;
    border: none;
    outline: none;
}

.shareBox .form button {
    display: inline-block;
    width: 20%;
    height: 2.5rem;
    font-size: 0.9rem;
    color: #fff;
    background-color: #999;
    vertical-align: middle;
    border: none;

}