.statistics{
    background-color: #2e2e2e;
    width: 210px;
    height: 164.5px;
}

.innerBox{
    padding-top: 35px;
}

.number{
    font-size: 1.9rem;
    color: #4956ff;
    text-align: center;
}

img{
    width: 210px;
    height: 51px;
}