.QuestionBox{
    padding: 0 2rem;
}
.QuestionBox .Question{
    display: block;
    padding: 4rem 0;
    border-bottom: 1px solid #e5e5e5;
}
.QuestionBox .Question .text{
    display: block;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
}
.QuestionBox .Question .text > b{
    font-weight: bolder;
}